h1 = t('.title', title: @question.test.title)

p = link_to t('helpers.link.back'), admin_test_path(@question.test)

h2 = @question.body

p = t('.answers')

p = link_to t('admin.answers.link.add'), new_admin_question_answer_path(@question)

ol
  = render @question.answers
